@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* -------------------- GLOBAL DEFAULTS */

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-size:16px;
    line-height: 1.4;
}

img,
iframe {
    max-width: 100%;
}

a{
    color:red;
    text-decoration: none;
}
a:hover{
    color:darkred;
}

a:visited
{
    color:rgb(63, 8, 8);
}

/* -------------------- HEADINGS AND TYPE */

h1 {
    background-color: #222;
    color: blue;
}

h1,h2,h3,h4,h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* -------------------- LAYOUTS */

.layout-wide {
    background-color: #fff;
    max-width: 1000px;
    margin: auto;
    padding: 3%;
}

/* -------------------- HEADER */

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */

.content-item-2col {
    display: grid;
}

@media screen and (min-width:800px) {

    .content-item-2col {
        grid-template-columns: 1fr 1fr;
    }
}