@import url("normalize.css");

/* -------------------- GLOBAL DEFAULTS */

*
{
    box-sizing: border-box;
}

body
{
background-color:yellow;
}

/* -------------------- HEADINGS AND TYPE */

h1
{
    background-color: bisque;
    color:blue;
}

/* -------------------- LAYOUTS */

/* -------------------- HEADER */

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */