@import url("normalize.css");

/* -------------------- GLOBAL DEFAULTS */

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

img,
iframe {
    max-width: 100%;
}

/* -------------------- HEADINGS AND TYPE */

h1 {
    background-color: #222;
    color: blue;
}

/* -------------------- LAYOUTS */

.layout-wide {
    background-color: #fff;
    max-width: 1000px;
    margin: auto;
    padding:3%;
}

/* -------------------- HEADER */

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */

.content-item-2col{
    display:grid;
    grid-template-columns: 1fr 1fr;
}